<%- include("partials/header"); -%>
    <h1>Contact</h1>
    <strong>
        <h4>
            <%= name %>
        </h4>
        <h4>
            <%= linkedIn %>
        </h4>
        <h4>
            <%= mail %>
        </h4>
    </strong>
    <%- include("partials/footer"); -%>